@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #000;
    margin: 0 auto;    
    
}
/* HEADER */

header {
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header h1 {
    color: #ffffff;
    font-size: 2.5rem;
  
}

header span {
    color: #0703f8;
}


header .navegacao-primaria {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

header .navegacao-primaria li a {
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1.3rem;
    margin-left: 50px;
   
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .49s;

}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #3528f5;
}

#download:hover {
    background-color: #f5ecec;
    color: #000000;   	
}

#download{
    justify-self: start;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 5px;

    font-weight: bold;
    transition: all 0.5s;	
}
/* DOWNLOAD CV SECAO */

.section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div {
    margin-top:120px; ;
    align-self: start;
    display: grid;
    gap: 30px;
    
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
    margin-block-start: auto;

}

.section-div div p {
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div a {
    justify-self: start;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

/* IMAGEM BRUNO */
.section-div img {
    height:400px;
    width: 350px;
    border: none;
    border-radius: 30px;
    background-color: white;  
   

}

/* TECNOLOGIAS HTML CSS JAVASCRIPT PHP  */
.tecnologias{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;  
}

#php{
    width:220px;
    height:205px;
    border-radius: 8px;

    padding-right: 0%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
 
}
 #css{
    width:220px;
    height:235px;
    border-radius: 8px;

    padding-right: 0%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;

  
 }
 #html{
    width:220px;
    height:205px;
    border-radius: 8px;
    
    padding-right: 0%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    border-color: none;
   
 }
 #javascript {
    width:220px;
    height:205px;
    border-radius: 8px;
    border: 4px solid white;
    padding-right: 0%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(80, 45, 45);
 
}

    /*FACULDADE  CARDS*/

.facul{
    margin-top: 150px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.card1{
    height:400px;
    width: 300px;
    border: none;
    border-radius: 30px;
    background-color: rgb(192, 185, 185);    
    border: 4px solid rgb(80, 45, 45);


    
    justify-content: center;
    align-items: center;
}
.card2{
    height:400px;
    width: 300px;
    border-radius: 30px;
    background-color: rgb(192, 185, 185);   
    border: 4px solid rgb(80, 45, 45);

}
.card3{
   height:400px;
   width: 300px;
    border-radius: 30px;
    color: #ffffff;
    background-color: rgb(192, 185, 185);    
    border: 4px solid rgb(80, 45, 45);
   
}
.plaravel1 {
    color: #ffffff;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(5, 5, 5);   
    border: 1px solid rgb(245, 12, 12);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    
}
.composer1 {
    color: #ffffff;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(5, 5, 5);   
    border: 1px solid rgb(245, 12, 12);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    
}
.mysql1 {
    color: #ffffff;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(5, 5, 5);   
    border: 1px solid rgb(245, 12, 12);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
#composer  {
    max-width: 100%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
   
}
#laravel  {
    max-width: 100%;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    }
#mysql  {
    max-width: 100%;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    }

    .card-long1{
     margin-top: 120px;
      height: 400px;
        margin-left: 80px;
        margin-right: 80px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        align-items: center;
        justify-content: center;
        display: flex; 
        background-color: #ffffff;
     
    }

    .card-long2{
        float: right;
        width: 30%;
        margin-top: 120px;
        margin-right:150px;
        height: 400px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
          align-items: center;
          justify-content: center;
          display: flex; 
          background-color: #ffffff;
    }
    .card-long3{
        width: 30%;
        margin-top: 120px;
        margin-left: 150px;
        height: 400px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
          align-items: center;
          justify-content: center;
          display: flex; 
          background-color: #ffffff;
    }

.footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
.footer a:hover {
    color: #147dec;
    
  }
  .footer a {
    margin-left: 150px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
  }







        /*   MEDIA MEDIA MEDIA */
@media(max-width: 600px) {

    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
     
    }
    body {
        background-color: #000;
         margin: 0%;
    }
    /* HEADER */
    
    header {
        background-color: #000;
        display: flex;
        align-items: center;
    }
    
    header h1 {
        color: #ffffff;
        font-size: 2.5rem;
    }
    
    header span {
        color: #0703f8;
    }
    
    
    header .navegacao-primaria {
     
        gap: 30px;
        align-items: center;
    }
    
    header .navegacao-primaria li a {
        color: #fff;
        width: 0px;
        height: 0px;
        font-size: 1.3rem;
    }
    
    header .navegacao-primaria li a::after {
        content: '';
        width: 0px;
        height: 0px;
        display: block;
        border-bottom: 4px solid transparent;
        transition: .9s;
    }
    
    header .navegacao-primaria li a:hover::after {
        width: 100%;
        height: 0px;
        padding: 0px;
        border-bottom: 4px solid #3528f5;
    }
    
    
    /* DOWNLOAD CV SECAO */
    
    .section-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
     
      
    }
    
    .section-div div {
        margin-top:120px; ;
        align-self: start;
        gap: 30px;
        
    }
    
    .section-div div h2 {
        font-family: 'Poppins';
        color: #f7f7f7;
         
    
    }
    
    .section-div div p {
        font-family: 'Poppins';
        font-weight: 200;
        color: #f7f7f7;
    }
    
    .section-div div a {
        justify-self: start;
        color: #fff;
        padding: 15px 40px;
        border-radius: 5px;
        border: 2px solid white;
    }
    
    /* IMAGEM BRUNO */
    .section-div img {
        height:300px;
        width: 250px;
        border: none;
        border-radius: 30px;
        background-color: white;  
        margin-right: 20px;
      
    
    }

    .tecnologias{
  
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px; 
    }
    
    
    #php{
        width:80px;
        height:50px;
        border-radius: 8px;
        border: 4px solid white;
        justify-content: center;
        align-items: center;
    }
     #css{
        width:80px;
        height:50px;
        border-radius: 8px;
        border: 4px solid white;
        justify-content: center;
        align-items: center;
     }
     #javascript {
        width:80px;
        height:50px;
        border-radius: 8px;
        border: 4px solid white;
        justify-content: center;
        align-items: center;
    }
     #html{
        width:80px;
        height:50px;
        border-radius: 8px;
        border: 4px solid white;
        justify-content: center;
        align-items: center;
     }

        /*  FACUL */
    .facul{
        margin-top: 150px;
        justify-content: center;
        align-items: center;
         display: grid;  
        gap: 50px; 
    }

    .card1{
        height:400px;
        width: 400px;
        border-radius: 30px;
        background-color: white;  
        justify-content: center;
        align-items: center;
    
    }
    .card2{
        height:400px;
        width: 400px;
        border-radius: 30px;
        background-color: white;  
        justify-content: center;
        align-items: center;
     
     
    }
    .card3{
        height:400px;
        width: 400px;
        border-radius: 30px;
        background-color: white;  
        justify-content: center;
        align-items: center;
    }
    .plaravel1 {
        color: #ffffff;
        margin-left: 90px;
        margin-right: 90px;
        background-color: rgb(5, 5, 5);   
        border: 1px solid rgb(245, 12, 12);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .composer1 {
        color: #ffffff;
        margin-left: 90px;
        margin-right: 90px;
        background-color: rgb(5, 5, 5);   
        border: 1px solid rgb(245, 12, 12);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .mysql1 {
        color: #ffffff;
        margin-left: 90px;
        margin-right: 90px;
        background-color: rgb(5, 5, 5);   
        border: 1px solid rgb(245, 12, 12);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
 
    #composer  {
        max-width: 100%;
        margin-left: 90px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 20px;
    }
    #laravel  {
        max-width: 200%;
        margin-left: 80px;
        justify-content: center;
        align-items: center;
        display: flex;
      
        }

    #mysql  {
        max-width: 100%;
        margin-left: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        }
    
  }